@font-face {
  font-family: "Basis Grotesque Pro Regular";
  src: url("/Users/conolost_bet/Desktop/layout/fonts/BasisGrotesquePro-Regular.woff")
      format("woff"),
    url("/Users/conolost_bet/Desktop/layout/fonts/BasisGrotesquePro-Regular.ttf")
      format("ttf");
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  background-color: black;
}

body {
  background-color: #f8f8f8;
  font-family: "Basis Grotesque Pro Regular", serif;
}

.container {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  position: relative;
  width: 100%;
  height: 550px;
  background-image: url(img/image.png);
  color: rgb(255, 255, 255);
  filter: brightness(90%);
}

header a {
  font-size: 13px;
}

.top {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.logo {
  cursor: pointer;
  content: url(img/logo_griph.png);
  margin-right: 100px;
}

nav ul {
  list-style: none;
  width: 400px;
  display: flex;
  justify-content: space-between;
}

nav li:hover {
  text-decoration: underline;
}

.menu_icon {
  display: none;
  width: 45px;
  height: 35px;
  position: absolute;
  top: 40px;
  right: 5px;
  cursor: pointer;
}

.menu_icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.menu_icon span:nth-child(1) {
  top: 0px;
}

.menu_icon span:nth-child(2),
.menu_icon span:nth-child(3) {
  top: 13px;
}

.menu_icon span:nth-child(4) {
  top: 26px;
}

.menu__links-item {
  color: #333333;
  font-family: Arial;
  font-size: 14px;
  line-height: 30px;
  padding: 0 10px;
  text-decoration: none;
  cursor: pointer;
}

.menu__links-item:hover {
  text-decoration: underline;
}

.menu.menu_state_open .menu_icon span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .menu_icon span:nth-child(2) {
  transform: rotate(45deg);
}

.menu.menu_state_open .menu_icon span:nth-child(3) {
  transform: rotate(-45deg);
}

.menu.menu_state_open .menu_icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu_state_open ul {
  visibility: visible;
  height: 500px;
  width: 100%;
}

.text {
  position: relative;
  max-width: 720px;
  padding: 34px 44px;
  margin-top: 124px;
}

.text .border {
  position: absolute;
  height: 106px;
  width: 156px;
  border-left: 6px solid white;
  border-top: 6px solid white;
  top: 0;
  left: 0;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

header > img {
  position: absolute;
  cursor: pointer;
  bottom: 44px;
  right: 38px;
}

main {
  position: relative;
  background-color: #f8f8f8;
}

main > .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 38px;
}

.intro {
  position: relative;
  top: -50px;
  width: 540px;
  height: 635px;
  background-color: #fff;
  font-size: 16px;
  padding: 82px 70px;
}

.intro > p {
  margin-bottom: 60px;
}
.button {
  display: flex;
  cursor: pointer;
  margin: auto;
  border: 2px solid #e7e7e7;
  height: 60px;
  max-width: 280px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}

.team .button {
  margin-top: 40px;
  border: 2px solid #e1cfce;
}

.top-hr {
  height: 5px;
  background-color: black;
  margin-top: 80px;
  margin-bottom: 30px;
}

.bttn-content {
  margin: auto;
  font-weight: bold;
}

.bttn-content:after {
  content: url(img/button-arrow.png);
  margin-left: 34px;
}

.title-note {
  font-size: 20px;
  font-weight: bold;
}

.short-lines {
  position: relative;
  margin-top: 140px;
  padding: 0 80px 100px;
  height: 520px;
  width: 400px;
  background-color: #f9f5d5;
  line-height: 30px;
}

.quality-img {
  position: relative;
  width: 100%;
  top: 78px;
  padding-left: 240px;
}

.quality-img img {
  height: 552px;
  max-width: 700px;
  width: 100%;
}

.quality {
  position: relative;
  top: -550px;
  background-color: #e9f6fd;
  height: 700px;
  width: 400px;
  padding: 0 70px 100px;
}
.team {
  position: relative;
  background-color: #f8e4e3;
  height: 515px;
  width: 400px;
  left: 60px;
  bottom: 0px;
  padding: 0 70px 90px;
}

footer {
  position: relative;
  background-color: #fff;
  height: 500px;
  width: 100%;
  font-size: 16px;
}

.f-top {
  display: flex;
  padding-top: 60px;
}

.miniLogo {
  cursor: pointer;
  content: url(img/mini_logo.png);
  margin-right: 50px;
}

.f-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 42px;
}

.f-content p {
  margin-left: 80px;
  line-height: 28px;
}

.f-content a {
  height: auto;
  margin-left: 80px;
}

.f-content a:first-of-type {
  content: url(img/twitter.png);
}

.f-content a:last-of-type {
  content: url(img/linkedin.png);
}

footer .container > p {
  text-align: right;
  font-size: 12px;
  padding: 35px 0;
}

footer .container hr{
  margin-top: 90px;
}

@media screen and (max-width: 640px) {
  * {
    font-size: 0.8rem;
  }

  .menu_icon {
    display: inline-block;
  }

  nav ul {
    flex-direction: column;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 52px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    overflow: auto;
  }

  ul li {
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
  }
  header > img {
    position: absolute;
    bottom: 64px;
  }

  main .container > div {
    margin-top: 0;
    margin-bottom: 0;

  }

  .team{
    top: -500px;
  }

  .short-lines{
    left: 60px;
  }

  footer p{
    font-size: 0.7rem;
    line-height: 0.9rem;
  }
}
